div#main_center {
	margin:auto;
	width:800px;	
}

div#nav {
	position:absolute;
	left:-5px;
	top:200px;
}

div#nav ul li {
	list-style-type:none;
}

div#nav a:link {
	text-decoration:none;
	color:black;
	font-weight:bold;
	font-size:large;
}

div#nav a:visited {
	text-decoration:none;
	color:black;
	font-weight:bold;
	font-size:large;
}

div#nav a:hover {
	text-decoration:none;
	color:grey;
	font-weight:bold;
	font-size:large;
	
}

div#nav a:active {
	text-decoration:none;
	color:grey;
	font-weight:bold;
	font-size:large;
	
}

div.description {
	border:2px dashed black;
	padding:5px;
	text-align:justify;
	font-family:Monospace;
	width:700px;
}

div.border_only {
	border:2px dashed black;
	padding:5px;
	width:700px;
}


div.description_table {
	
	padding:5px;
	text-align:justify;
	font-family:Monospace;
	
}


table.outer td {
	vertical-align:top;
	border:1px solid black;
}
table.inner td {
	border:none;
}

table td {
	vertical-align:top;
	border:1px solid black;
}

table.outer th {
	font-family:auto;
	font-size:20px;
}

table.inner th {
	font-family:Monospace;
	font-size:auto;
}

table td {
	padding-left:5px;
	padding-right:5px;
	padding-top:2px;
	padding-bottom:2px;
}